html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Bree Serif', serif!important;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #272727;
}
::-webkit-scrollbar-thumb {
    background: #d6be91;
    border-radius: 10px;
}


/* Nav - CSS */

button{
    background-color: black!important;
}
.btn{
    border-radius: 25px;
    background-color: #d6be91!important;
    color: black!important;
}

.dropdown-content li > a{
    background-color: #d6be91!important;
    color: black!important;
    font-size: small!important;
    text-align: center!important;
}


.guardia_logo img{
    margin-top: 3%;
    height: 25%;
    width: 25%;
}

.card{
    background: whitesmoke!important;
    border-radius: 20px!important;
    box-shadow: 10px 10px 10px #d7b16a!important;
}

.card img {
    border-radius: 20px!important;
    border-bottom-left-radius: 0px!important;
    border-bottom-right-radius: 0px!important;
}

.zoom-image{
    overflow:hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.zoom-image img{
    width:100%;height:auto;
}

.zoom-image img:hover{
    width:100%;
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
    -webkit-transition:1s ease-in-out;
    transition:1s ease-in-out;
}

.add-linkedin{
    background-color: #d8b36e!important;
    color:white;
}

.sidenav{
    background-color: #d6be91!important;
}

/* Parallax */

.image-top{
  background-size: cover!important;
  height: 100%!important;
  min-height: 100%!important;
}

/* Home */

.img-home{
    width: 100%;
    height: auto;
}
.row{
    margin-top: 20px;
}

.title-home{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 0px!important;
}

.text-home{
    font-size: 30px;
    text-align: left;
    margin-top: 0px!important;

}
.text-home span{
    color: #ab966a;
}

.home-content{
    width: 40% !important;
}

.parallax-home{
    height: 325px!important;
}

/* Page présentation */

.imgcv{
    width: 130%;
    height: auto;
}

@media only screen and (max-width: 1024px) {
    .imgcv {
        width: 100%;
    }
}

/* FOOTER */

a{
    text-decoration: none;
}

footer{
    background-color: #272727;
    text-align: center;
    text-transform: uppercase;
    padding-top: 12px;
    margin-top: auto;
}

footer li{
    list-style: none;
    margin: 10px;
    display: inline-block;
}

.icons a{
    background: #d6be91;
    color: #272727;
    padding: 14px;
    font-size: 20px;
    border-radius: 100%;
    display: flex;
}
.icons a:hover{
    color: #ffffff;
    transition: 0.5s;
}

.menu a{
    color: #ffffff;
    text-transform: capitalize;
}
.menu a:hover{
    color: #52527a;
    transition: 0.5s;
}

.footer-copyright{
    background-color:black;
    color: #ffffff;
    padding: 15px;
    margin-top: 30px;
    text-transform: capitalize;
}

.footer-copyright p{
    margin-bottom: 0px;
}

.footer_title{
    color: white;
    font-size: medium!important
}

/* Page Contact */

.form-contact{
    width: 80%;
    height: auto;
    background-color: #272727;
    padding: 20px;
    border-radius: 20px;
    margin-left: 200px!important;
    margin: 20px;
    color: white;
}

.input-contact{
    color: white;
}

.contact-title{
    position: relative !important;
    font-weight: 200 !important;
    font-size: 4.2rem !important;
    text-align: center !important;
    padding: 3% !important;
    text-shadow: 3px 3px 5px #bdbdbd  !important;
}

hr{
    width: 500px!important;
}


/* Page CTF */

.ctf{
    padding: 200px;
}

/* Page Jeux */

.title-game{
    text-transform: uppercase!important;
    font-size: 60px!important;
}

.ctf-button{
    align-items: center!important;
    justify-content: center!important;
    background-color: #d6be91!important;
    color: black!important;
    border-radius: 25px!important;
    font-weight: bold!important;
}

.titlegame-a{
    color: black!important;
}